# This is an example file.
# 1. Create a new file named ".env" in this same directory.
# 2. Copy the contents of this file into ".env".
# 3. Replace "YOUR_API_KEY_HERE" with your actual API keys.

# Cloudmersive API Key for document conversion (PDF to Word, etc.)
CLOUDMERSIVE_API_KEY="cf7ca13d-323c-4db7-8d5f-176694665c7e"
